<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>Firstmakers Blockly Client</span>
</mat-toolbar>
<mat-card>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Local IP address" [(ngModel)]="localIP" (change)="scanLocalNetwork(localIP)">
  </mat-form-field>
  {{checkingHost}}
  <li *ngFor="let device of devices">{{device}}</li>
</mat-card>

<mat-card *ngIf="board">
  <mat-card-title>
      {{board.name}} {{board.currentState}}
  </mat-card-title>

  <div *ngIf="board.pins && board.pins.length > 0">
  <mat-card-content >
      <div fxLayout="row" fxLayoutWrap *ngIf="board.pins">
              <div fxFlex="20"
                fxLayout="row"
                fxLayoutAlign="start center"
                *ngFor="let pin of board.pins; index as pinNumber"
                >
              <!-- class="small col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
                  <div fxFlex="15">
                      <span class="md-title">{{pinLabel(board,pinNumber)}}</span>
                  </div>
                  <div fxFlex="35">
                    <!--
                      ng-if="controller.dataType(pin) == 'binary'" ng-model="pin.value" aria-label="Switch 1" ng-true-value="1" ng-false-value="0" ng-change="controller.setPinValue(boardName, $index, pin.value)">
                    -->
                          <mat-slide-toggle
                            *ngIf="board.dataType(pin) == 'binary'"
                            [(ngModel)]="pin.value"
                            (change)="board.setPinValue(pinNumber, pin.value)"
                          ></mat-slide-toggle>

                          <mat-form-field *ngIf="board.dataType(pin) == 'number'" style="width:50px; margin:2px">
                              <input matInput type="text" [ngModel]="pin.value" required>
                          </mat-form-field>
                  </div>
                  <div fxFlex="50">

                    <select
                      name="singleSelect"
                      [(ngModel)]="pin.mode"
                      (change)="board.setPinMode(pinNumber, pin.mode)"
                    >
                      <option *ngFor="let mode of pin.supportedModes" [ngValue]="mode">{{board.getPinModeDesc(mode)}}</option>
                    </select>

                  </div>

              </div>
          </div>
  </mat-card-content>
  </div>

</mat-card>
<mat-card>
    <button (click)="runCode()">Run code</button>
    <button (click)="stopCode()">Stop code</button>
</mat-card>
<app-blockly></app-blockly>
<div>
  {{javascriptCode}}
</div>


